<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Ajout effectué</title>
        <link rel="stylesheet" href="../style/modification_reussie.css" />
    </head>
    <body class="confirmation-page">
        <h1>Votre ajout a bien été effectué</h1>

        <p>Que souhaitez-vous faire maintenant ?</p>

        <ul>
            <li><a href="../app/app.php?action=voir_matiere">Revenir à la liste des matières</a></li>
            <li><a href="../app/app.php">Revenir à l'outil</a></li>
        </ul>
    </body>
</html>
