<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Déconnexion</title>
        <link rel="stylesheet" href="../style/modification_reussie.css" />
    </head>
    <body>
        <h1>Déconnexion réussie</h1>
        <p>
            Vous vous êtes déconnecté(e) avec succès.<br />
            Cliquez sur le lien suivant pour retourner sur l'outil :
            <a href="../">Retour au menu</a>
        </p>
    </body>
</html>
