<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Modification réussie</title>
        <link rel="stylesheet" href="../style/modification_reussie.css" />
    </head>
    <body class="confirmation-page">
        <h1>Votre modification a bien été effectuée</h1>

        <p>Que souhaitez-vous faire maintenant ?</p>

        <ul>
            <li><a href="../app/app.php?action=voir_entreprise">Revenir à la liste des entreprises</a></li>
            <li><a href="../app/app.php?action=backoffice">Revenir au backoffice</a></li>
            <li><a href="../">Revenir au menu</a></li>
        </ul>
    </body>
</html>
