<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Suppression réussie</title>
        <link rel="stylesheet" href="../style/suppression_reussie.css" />
    </head>
    <body>
        <h1>Suppression effectuée</h1>
        <p>
            L'élément a bien été supprimé de la base de données.<br />
            <a href="../app/app.php?action=voir_matiere">Retour à la liste des matieres</a><br />
            <li><a href="../app/app.php?action=backoffice">Revenir au backoffice</a></li>
            <li><a href="../">Revenir au menu</a></li>
        </p>
    </body>
</html>
